{# Get the relevant entries #}
{% set categoryQuery = craft.request.getParam('category') %}
{% set categories = craft.categories.group('sectionName').slug(categoryQuery) %}
{# Set the search parameters #} 
{% set searchParams = {
    relatedTo: categories,
    section: 'sectionName'
} %}



<div class="row">

	<div class="col-lg-2">
		<div class="div_votes_container"> 
	                <div>{{ craft.upvote.upvote(entry.id) }}</div>
	                <div>{{ craft.upvote.tally(entry.id) }}</div>
	                <div>{{ craft.upvote.downvote(entry.id) }}</div>
		</div>
	</div>


	<div class="col-lg-10">

		<h3>
			<span id="star_{{ uniqentryid }}" class="star_empty" alt="Mark as a favorite" title="Mark as a favorite"></span> 
			<a href="{{ entry.url }}">{{ entry.title }}</a>
		</h3>

		<div class="div_idea_tags">

            {% if entry.categories | length %}

			IdeaSpace: 
		{% for category in entry.IdeaSpace %}
		
		<a href="{{ category.slug }}">{{ category.title }}</a>,
		
		    {% if loop.last %}
                    <a href="{{ category.slug }}">{{ category.title }}</a>
                    {% endif %}
		
		{% endfor %}



			{% if entry.tags | length %}
			<br>Tags: 
			
			
			{% for tag in craft.tags.group('blogTags') %}
			<a href="{{ url('ideas/tags/'~tag.slug) }}">{{ tag.title }}</a>,
				    {% if loop.last %}
                    <a href="{{ url('ideas/tags/'~tag.slug) }}">{{ tag.title }}</a>
                    {% endif %}	
			
			{% endfor %}
			
			
			{% endif %}
		</div>

		<div class="div_whoseidea">

			<span class="vcard"><a href="/authors/{{ author.username }}" class="fn url hasHover">{{ entry.author }}</a>
			<span class="reputation gold">4079</span>
			</span> - {{ entry.postDate | date("d M Y") }}  / <a href="{{ entry.url }}#commentsanch">Comments (<span id="count_{{ uniqentryid }}">{{ entry.comments.count }}</span>)</a></div>
			<div class="div_idea_body">
			{{ entry.body }}

		</div>

	</div>

</div>
