{#
 # News entry template
 # -------------------
 #}
 
{% extends "_layout" %}
{% set title = entry.title %}
{% set entryCategory = entry.categories.first() %}


{% block head %}
{{ parent() }}
{% include "_partials/metas-article" %}

{% endblock %}

{% block content %}

<div id="fb-root"></div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.4&appId=921935824563119";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{{ craft.counter.increment(entry.id) }}
{% set entryCategory = entry.categories.first() %}
{% set image = entry.featuredImage.first() %}
{% set imagegal = entry.featuredImage %}
{% set imagegal2 = entry.featuredImage %}
{% set entryauthor = entry.author.username %}
{% set transform = {
    mode: 'crop',
    width: 836,
    height: 339,
    quality: 75,
    position: 'top-center'
} %}
{% do image.setTransform(transform) %}


<table>
    {% for entry in craft.entries.section('ideas') %}
        <tr>
            <td>
                <div>{{ craft.upvote.upvote(entry.id) }}</div>
                <div>{{ craft.upvote.tally(entry.id) }}</div>
                <div>{{ craft.upvote.downvote(entry.id) }}</div>
            </td>
            <td>{{ entry.title }}</td>
        </tr>
    {% endfor %}
</table>

<div>
<h2>{{ entry.title }}</h2>
<div>Categories: 
<ul>
    {% nav category in craft.categories.group('ideaSpaces') %}
        <li>
            <a href="{{ category.url }}">{{ category.title }}</a>
            {% ifchildren %}
                <ul>
                    {% children %}
                </ul>
            {% endifchildren %}
        </li>
    {% endnav %}
</ul> 
 
</div>
<div>Tags: 
{% for tag in craft.tags.group('blogTags') %}
    <a href="{{ url('idea/tags/'~tag.id) }}">{{ tag.title }}</a>
{% endfor %} 
 
 
 </div>
<div>
 Author: {{ entry.author.fullName }} 
 Date: {{ entry.postDate("M d, Y") }}</div>

 <div>Status Open: </div>
<div>Permalink Open: </div>
</div>
<div class="ideaBody">

 {{ entry.ideaBody }}

</div>




{% endblock %}
